<div id="<%= dom_id item %>">
  <p>
    <strong>Item name:</strong>
    <%= item.item_name %>
  </p>

  <p>
    <strong>Price vnd:</strong>
    <%= item.price_vnd %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= item.type_id %>
  </p>

</div>
